<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" 
        integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3C
        UQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    </head>
    <body>
        <div class = "jumbotron">
            <div class = "container">
                <h1>Welcome to my One Month Python Project</h1>
                <p>My name is Mickey Meehan and I built this project for 
                <a href="http://onemonth.com/courses/one-month-python">One Month Python</a>.</p>
                <a href="{{ url_for('index') }}">Take Me Home</a>
            </div>
        </div>
    </body>
</html>